@{ Layout = "_Layout"; }

<h1>Welcome Pierre</h1>
<p>Here's the page you wanted- this is just the splash page- you didn't give me much info on what you wanted presented here so let me know and I'll get working on that for you.</p>