@{Layout="_Layout";}

<h1>Add New Order for @Model.Name</h1>

<form action="/vendors/@Model.Id/orders" method="post">

  <label for="title">Enter a title</label>
  <input type="text" name="title" id="title">
  <label for="description">Enter a description</label>
  <input type="text" name="description" id="description">
  <label for="price">Enter a price</label>
  <input type="number" name="price" id="price">
  <label for="date">Enter a date</label>
  <input type="text" name="date" id="date">
  <label for="ingredients">Enter a ingredients</label>
  <input type="text" name="ingredients" id="ingredients">
  <button type="submit">Submit</button>
</form>

