@{Layout = "_Layout";}

<h1>Vendor Form</h1>

<form action="/vendors" method="post">
  <label for="vendName">Enter Vendor's Name</label>
  <input type="text" name="vendName" id="vendName">
  <label for="description">Enter Vendor's Description</label>
  <input type="text" name="description" id="description">
  <button type="submit">Submit</button>
</form>